@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  font-family: 'Montserrat' !important;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Main {
  background:url("./images/background.jpg")  center / cover no-repeat; background-color: #1a1b1e; background-blend-mode: overlay;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  z-index: -100;
}

.About{
  margin: 0;
  box-sizing: inherit;
  padding: 0;
  width: 100%;
  position: relative;
}

.details .birth::after {
  content: '21.08.1996';
  color: black;
  text-align: right;
  float: right;
}

.details .phone::after {
  content: '+996 558 48 15 16';
  color: black;
  text-align: right;
  float: right;
}

.details .email::after {
  content: 'bekovs96@gmail.com';
  color: black;
  text-align: right;
  float: right;
}

.details .website::after {
  content: "You're currently on my website";
  color: black;
  text-align: right;
  float: right;
}

.interests {
  flex-wrap: wrap;
  position: relative;
}

.interests svg {
  transform: scale(1.2);
  transition: transform 500ms;
}

.interests div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.interests svg:hover {
  transform: scale(1.6);
}

.Skills {
  min-height: 100vh;
  background-color: #1f1f1f;
  z-index: 50 !important;
}